#return-to-top {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background:#2cc895;
    background: rgba(0, 0, 0,);
    width: 60px;
    height: 60px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	z-index: 100;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 22px;
    top: 16px;
    font-size: 24px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background:#000;
}
#return-to-top:hover i {
    color: #fff;
  
}

@media screen and (max-width: 500px) {
	#return-to-top {
		width: 45px;
        height: 45px;
        bottom: 80px;
		right:10px;
       
	}
	#return-to-top i {
	left:0.8em;
	top:12px;
	font-size: 20px;
	}
}
